* {
	padding: 0px;
	margin:0px;
}

header {
width: 100%;
height: 75px;
background: #299AB3;
border-radius: 0 0 15px 15px;
}

.logo {
	width: 191px;
	height: 130px;
	background: url('img/logo.png');
	display: block;
	margin:auto;
}

h1{
	font-size: 90px;
font-family: 'Roboto', sans-serif;
text-align: center;
margin-bottom: 100px;
}

.name {
	background-color: #c4c4c4;
	border:none;
	width: 50%;
	height: 100px;
	margin:auto;
	display: block;
	border-radius: 15px 15px 15px 15px;
	outline: none;
	font-size: 3.29rem;
}

.confirm {
	height: 100px;
	width:200px;
	background-color: #c7c7c7;
	border-radius: 15px 15px 15px 15px;
	margin:auto;
	display: block;
	outline: none;
	margin-top: 75px;
}

.circle {
margin:auto;
display: block;
height: 200px;
width:200px;
}

.confirm2 {
	height: 100px;
	width:200px;
	background-color: #c7c7c7;
	border-radius: 15px 15px 15px 15px;
	margin:auto;
	display: block;
	outline: none;
	margin-top: 35px;
}

.input {
	display: none;
}

